* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

html {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    display: grid;
    list-style-type: none;
}

nav {
    background-color: goldenrod;
}

a {
    text-decoration: none;
    display: block;
    color: whitesmoke;
    padding: 1.5rem;
}

li {
    background-color: black;
    text-align: center;
}

nav a:hover {
    background-color: dimgray;
}

nav ul {
    grid-gap: 0.2rem;
}

@media only screen and (min-width: 45rem) {
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0.2rem;
    }
}

.parallax {
    /* The image used */
    background-image: url('../images/img_parallax.jpg');
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.para {
    margin: auto;
    width: 60rem;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
}
.space
{
    margin: 1rem;
    color: red;
}
.heading_to_breakdown {
    color: black;
    text-align: center;
    font-size: 2rem;
    padding: 0rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}

.footer {
    background-color: #d8e5ee;
}

#footer_container {
  max-width: 600px;
  height: 100px;
  margin: 0 auto;
  padding-top: 2%;
}

.social {
  list-style: none;
}

.social li a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: inline;
  float: right;
  padding: 10px;
  color: #a3a3a3;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.social li a:hover {
  color: black;
}

.footer_message {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-top: 2%;
  float: left;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 20px;
  color: #a3a3a3;
}



/* Start CSS for contactUS.html */

.contactmap {
	width:100%;
	height: 600px;
}

#formWrapper{
	width: 35%;
	border-radius:5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-left: 32.5%
}

#formWrapper input[type = text]{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#formWrapper input[type = submit] {
  width: 200px;
  background-color: #1569C7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}


@media screen and (max-width: 1000px) {
	.contactmap {
	height: 400px;
	}
	
	#formWrapper{
	width: 40%;
	margin-left: 30%
	}
	
	
}

@media screen and (max-width: 750px) {
	.contactmap {
	height: 300px;
	}
	#formWrapper{
	width: 75%;
	margin-left: 12.5%
	}
	
}

@media screen and (max-width: 500px) {
	.contactmap {
	height: 200px;
	}
	#formWrapper{
	width: 100%;
	margin-left: 0%;
	}
}

/* End CSS for contactUS.html */

